parameters:
    level: 6
    paths:
        - .
    excludePaths:
        - Test/*
        - vendor/*
        - view/*
    ignoreErrors:
        - '#Class Magento\\#'
        - '#Class Typesense\\#'
        - '#Class Psr\\#'
        - '#no value type specified in iterable type array#'
        - '#Call to an undefined method Magento\\#'
        - '#is never read, only written#'
        - '#Magento\\Framework\\Phrase given#'
        - '#has invalid type Magento\\#'
        - '#has unknown class Magento\\#'
        - '#on an unknown class Magento\\#'
        - '#Magento\\Framework\\Api\\ExtensibleDataInterface given#'
        - '#Strict comparison using === between .* will always evaluate to#'
        - '#Comparison operation .* is always true#'
