<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <run_as_root_typesense>
            <general>
                <enabled>0</enabled>
                <protocol>http</protocol>
                <host>localhost</host>
                <port>8108</port>
                <api_key/>
                <search_only_api_key/>
                <index_prefix>rar</index_prefix>
                <log_enabled>0</log_enabled>
            </general>
            <indexing>
                <batch_size>200</batch_size>
                <product_enabled>1</product_enabled>
                <category_enabled>1</category_enabled>
                <cms_page_enabled>1</cms_page_enabled>
                <suggestion_enabled>1</suggestion_enabled>
                <zero_downtime_enabled>1</zero_downtime_enabled>
                <cron_enabled>0</cron_enabled>
                <cron_schedule>0 2 * * *</cron_schedule>
                <queue_enabled>0</queue_enabled>
            </indexing>
            <search>
                <typo_tolerance_enabled>1</typo_tolerance_enabled>
                <typo_tolerance_min_word_length>4</typo_tolerance_min_word_length>
                <highlight_enabled>1</highlight_enabled>
                <query_suggestions_enabled>1</query_suggestions_enabled>
            </search>
            <instant_search>
                <enabled>1</enabled>
                <products_per_page>12</products_per_page>
                <replace_category_page>0</replace_category_page>
                <image_type>small_image</image_type>
                <image_width>300</image_width>
                <image_height>300</image_height>
            </instant_search>
            <autocomplete>
                <enabled>1</enabled>
                <product_count>6</product_count>
                <category_count>3</category_count>
                <cms_page_count>2</cms_page_count>
                <suggestion_count>4</suggestion_count>
            </autocomplete>
            <merchandising>
                <category_merchandiser_enabled>0</category_merchandiser_enabled>
                <query_merchandiser_enabled>0</query_merchandiser_enabled>
                <landing_page_enabled>0</landing_page_enabled>
            </merchandising>
        </run_as_root_typesense>
    </default>
</config>
